<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <style>
        img{
            height: 200px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>this is the Instagram page</h1>
    <h1><%= data.name %></h1>
    <p>
    <h3>
        Followers - <%=data.followers%>
        &nbsp; &nbsp; &nbsp;
        Following - <%=data.following%>
    </h3>
    </p>
   
<div>
   <h4>posts</h4> 
   <%for(let post of data.posts){%>
    <img src=<%=post.image%> alt="some image"> 
   <p> 
    Likes : <%=post.likes%>
    &nbsp; &nbsp; &nbsp; 
    Comments : <%=post.comments%>
    </p>
   <%}%>
   
</div>
</body>
</html>